*.csv
*.json
*.jpg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.webp


./show-and-tell/train2017/
./show-and-tell/annotations/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pywz
*.pkl
*.pt
*.pth
*.pth.tar
*.pth.tar.gz
*.pth.tar.gz.part
*.pth.tar.gz.part.

*.ckpt
*.pth
*.pt
*.pkl
*.json
*.csv
*.txt